/* 
reset
 */
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
    
}
/* 
general
 */

 body{
  background-color: #202020;
 }

 .container{
    max-width: 1000px;
    margin: 0 auto ;
 }

 a{
  text-decoration: none;
}

 /* 
 header
  */
 
  .header-top{
    background-color: #255EE9;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .button{
    border-radius: 20px;
    padding: 6px 10px;
    font-size: 0.8em;
    
  }

  .header-top nav a{
    color: white;
    padding: 0 5px ;
  }



  .header-bottom{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-color: #00008B ;
    min-height: 350px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  
  }

  .header-bottom > div{
    width: 50%;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
    padding-bottom: 20px;
    
  }

  .header-bottom > div h1{
    padding-bottom: 15px;
  }

  
  .header-bottom > div p{
    font-size: 0.8em;
    padding-bottom: 10px;
  }

  #button-black{
    background-color: black;
    color: white;
  }




  /* 
  main
  */

  .first-section-main{
    background-color: #FBFBFB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto ;
    padding: 50px;
  }

  .first-section-main :first-child{
    background-color:#1E90FF;
    width: 50%;
    border: 1px dashed black;
    min-height: 300px;
  }

  .first-section-main :nth-child(2){
    background-color: #FFC0CB ;
    width: 30%;
    border: 1px dashed black;
    min-height: 300px;
  }

  .second-section-main{
    background-color: #D3D3D3 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto ;
    padding: 50px;
  }

  .second-section-main :first-child{
    background-color:#1E90FF;
    width: 30%;
    border: 1px dashed black;
    min-height: 300px;
  }

  .second-section-main :nth-child(2){
    background-color: #FFC0CB ;
    width: 50%;
    border: 1px dashed black;
    min-height: 300px;
  }

  .third-section-main{
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto ;
    padding: 50px;
  }

  .third-section-main :first-child{
    background-color:#1E90FF;
    width: 50%;
    border: 1px dashed black;
    min-height: 300px;
  }

  .third-section-main :nth-child(2){
    background-color: #FFC0CB ;
    width: 30%;
    border: 1px dashed black;
    min-height: 300px;
  }

  .fourth-section-main{
    background-color: #D3D3D3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto ;
    padding: 20px;
  
  }

  .fourth-section-main :first-child{
    background-color:#228B22;
    border: 1px dashed black;
    min-height: 300px;
    width: 75%;
  }


  /* 
  footer
   */

   .footer-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
   }

   .footer-top-left{
    background-color: #F08080;
    width: 18%;
    border: 1px dashed black;
    min-height: 300px;
  }

  .footer-top-right{
    background-color:#20B2AA ;
    width: 56%;
    border: 1px dashed black;
    min-height: 300px;
    display: flex;

  }

  .footer-top-right-child{
    width: 25%;
    border: 1px dashed white;
  }

  .footer-bottom{
    background-color: #7FFFD4;
    max-width: 73%;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .footer-bottom-child{
    background-color: #FFB6C1;
    border: 2px dashed black;
    text-align: center;
    padding: 5px 10px;

  }
