/* 
reset
 */
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
    
}
/* 
general
 */

 body{
  background-color: #202020;
 }

 .container{
    max-width: 1000px;
    margin: 0 auto ;
 }

 a{
  text-decoration: none;
}

img{
  width: 100%;
}

 /* 
 header
  */
 
  .header-top{
    background-color: #255EE9;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .button{
    border-radius: 20px;
    padding: 6px 10px;
    font-size: 0.8em;
    border: none;
    
  }

  .header-top nav a{
    color: white;
    padding: 0 5px ;
  }



  .header-bottom{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-color: #00008B ;
    min-height: 350px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  
  }

  .header-bottom > div{
    width: 50%;
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
    padding-bottom: 20px;
    
  }

  .header-bottom > div h1{
    padding-bottom: 15px;
  }

  
  .header-bottom > div p{
    font-size: 0.8em;
    padding-bottom: 10px;
  }

  #button-black{
    background-color: black;
    color: white;
    margin-left: 10px;
  }

  /* 
  main
  */

  .first-section-main{
    background-color: #FBFBFB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto ;
    padding: 50px;
  }

  .first-section-main img,  .second-section-main img , .third-section-main img{
    width: 45%;
    min-height: 200px;
  }

  .first-section-main div, .second-section-main div , .third-section-main div {
    width: 25%;
    min-height: 300px;
    padding-top: 40px ;
  }

  .first-section-main div h2 , .second-section-main div h2, .third-section-main div h2 {
    font-size: 25px;
    text-align: left;
    padding-bottom: 25px;
    line-height: 30px;
  }

  .first-section-main div p , .second-section-main div p , .third-section-main div p {
    font-size: 0.6rem;
    line-height: 15px;
    text-align: left;
  }

  .second-section-main{
    background-color: #D3D3D3 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
    padding: 50px;
  }

  .fourth-section-main{
    background-color: #D3D3D3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto ;
    padding: 20px;
  
  }

  .fourth-section-main div{
    min-height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }

  .fourth-section-main div p {
    font-size: 0.6rem;
    line-height: 15px;
    padding-top: 15px;
  }

  .fourth-section-main img{
    max-width: 60% ;
    margin-top: -20px; 
  }

  
  .fourth-section-main div a button {
    background-color: #7289DA;
    color: white;
  }

  .stars-container{
    position: relative;
    max-width: 50%;
  }

  .stars-container img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50% , -50% );
  }

  /* 
  footer
   */

   .footer-top{
    background-color: #23272A;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    color: white;
   }

   .footer-top .footer-top-left h3{
    color: #7289DA;
    padding-bottom: 5px;
   }

   .footer-top .footer-top-left img {
    width: 6%;
    margin-right: -5px;
    
   }

   .footer-top .footer-top-left select{
    font-size: 0.4rem;
    background-color: #23272A;
    border: none;
    color: white;
   }

   
   .footer-top .footer-top-left div a i{
    font-size: 0.7rem;
    padding: 2px;
    padding-top: 8px;
    color: white;
    text-decoration: none;
   }

 .footer-top-right nav a {
    color: white;
    font-size: 0.6rem;
    text-decoration: none;
    display: block;
    padding-bottom: 9px;
    font-family:Georgia, 'Times New Roman', Times, serif
   }

   .footer-top-right nav a:first-child{
    color: #7289DA;;
   }


   .footer-top-left{
    width: 18%;
    min-height: 300px;
  }

  .footer-top-right{
    width: 56%;
    min-height: 300px;
    display: flex;

  }

  .footer-top-right-child{
    width: 25%;
    border: 1px dashed white;
  }

  .footer-bottom{
    background-color: #7FFFD4;
    max-width: 73%;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .footer-bottom-child{
    background-color: #FFB6C1;
    border: 2px dashed black;
    text-align: center;
    padding: 5px 10px;

  }
